
@{
    ViewBag.Title = "Champion Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />
<h1><b>@ViewBag.Champion.Name</b></h1>
<p><i>@ViewBag.Champion.Title</i></p>
<p></p>
<p>@ViewBag.Champion.Lore</p>
<p>Tags: <br/>
    @string.Join( ",", ViewBag.Champion.Tags.ToArray() )</p>
<br />

<div>
    <h3>Abilities:</h3>
    @for (int i = 0; i < ViewBag.Champion.Abilities.Count; i++)
    {
        <div class="col-md-6">
            @ViewBag.Champion.Abilities[i].name;
        </div>
        <div class="col-md-6">
            @ViewBag.Champion.Abilities[i].description;
        </div>
    }
</div>
<br />
<div>
    <h3>Tips for playing @ViewBag.Champion.Name:</h3>
    @for (int i = 0; i < ViewBag.Champion.Tips.Count; i++)
    {
        <div class="row">
            -@ViewBag.Champion.Tips[i] <br />
        </div>

    }
</div>
<button style="margin-top: 50px;">
    @Html.ActionLink(
linkText: "Go back",
actionName: "About",
controllerName: "Home",
routeValues: null,
htmlAttributes: null
)
</button>

